spec_version: v1
kind: agent
name: {{ name }}
description: {{ description }}
framework: langgraph
deployment:
  code_bundle:
    entrypoint: agent:create_agent
checkpointer:
  type: {{ checkpointer }}
{%- if checkpointer == "postgres" %}
  connection_string_key: db_connection_string
{%- endif %}
